---
import { GLOBAL } from "@/lib/constants";
import Layout from "@/layouts/Layout.astro";
import Hero from "src/components/home/Hero.vue";
import Section from "@components/common/Section.vue";
import FeaturedArticles from "@components/home/FeaturedArticles.vue";
import FeaturedProjects from "@components/home/FeaturedProjects.vue";

const rootUrl = GLOBAL.site.rootUrl;
---

<Layout>
  <Fragment slot="head">
    <title>{GLOBAL.site.name} | Home </title>
    <meta name="description" content={GLOBAL.site.longDescription} />
    <meta property="og:title" content={`${GLOBAL.site.name} | ${GLOBAL.site.shortDescription}`} />
    <meta property="og:description" content={GLOBAL.site.longDescription} />
    <meta property="og:url" content={GLOBAL.site.rootUrl} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={`${GLOBAL.site.name} | ${GLOBAL.site.shortDescription}`} />
    <meta name="twitter:description" content={GLOBAL.site.longDescription} />
    <meta http-equiv="content-language" content="en" />
    <meta name="language" content="English" />
    <link rel="canonical" href={rootUrl} />
  </Fragment>
  <Section class="my-8">
    <Hero />
  </Section>
  <Section class="my-8">
    <FeaturedArticles />
  </Section>
  <Section class="mt-8">
    <FeaturedProjects />
  </Section>
</Layout>
