---
import Section from "@components/common/Section.vue";
import {GLOBAL} from "@/lib/variables";
import type {CollectionEntry} from "astro:content";
import Prose from "src/components/Prose.vue";
import type {Blog} from "src/content.config";
import Layout from "./Layout.astro";

type Props = CollectionEntry<Blog>;

const {frontmatter} = Astro.props;
---

<Layout>
    <Fragment slot="head">
        <title>{GLOBAL.username} | {frontmatter.title}</title>
        <meta name="description" content={frontmatter.description}/>
        <meta property="og:title" content={`${GLOBAL.username} | ${frontmatter.title}`}/>
        <meta property="og:image" content={`${GLOBAL.rootUrl}/${GLOBAL.profileImage}`}/>
        <meta property="og:url" content={frontmatter.url}/>
        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:title" content={`${frontmatter.title} | ${GLOBAL.username}`}/>
        <meta name="twitter:image" content={`${GLOBAL.rootUrl}/${GLOBAL.profileImage}`}/>
        <meta http-equiv="content-language" content="en"/>
        <meta name="language" content="English"/>
    </Fragment>
    <Section class="pt-8">
        <div class="flex flex-col gap-4 mt-8 mb-16">
            <h1
                    class="text-3xl sm:text-4xl leading-normal sm:leading-normal font-display"
            >
                {frontmatter.title}
            </h1>
            <div class="flex justify-between">
                <span>{frontmatter.time}</span>
            </div>
        </div>
        <Prose>
            <slot/>
        </Prose>
        <p class="pt-8">~{GLOBAL.username}</p>
    </Section>
</Layout>
